<% case effect %>
<% when Effects::AddSubjectToCollection %>
  <span class="text-primary">add to collection<%= effect.collection_id %></span>
<% when Effects::AddSubjectToSet %>
  <span class="text-primary">add to subject set <%= effect.subject_set_id %></span>
<% when Effects::RetireSubject %>
  <span class="text-primary">retire subject</span> (<span class="text-primary"><%= effect.reason %></span>)
<% when Effects::PromoteUser %>
  <span class="text-primary">promote user to workflow <%= effect.target_workflow_id %></span>
<% else %>
  <%= debug effect %>
<% end %>
