<div class="row">
<div class="col-md-12">
<table class="table table-sm table-striped">
  <colgroup>
    <col style="width: 4em;" />
    <col style="width: 8em;" />
    <col style="width: 12em;" />
    <col />
    <col style="width: 8em;" />
    <col style="width: 4em;" />
  </colgroup>
  <thead>
    <tr>
      <th>Id</th>
      <th>Key</th>
      <th>Type</th>
      <th>Configuration</th>
      <th>Min. Ver.</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for extractor in @workflow.extractors %>
      <tr>
        <td><%= extractor.id %></td>
        <td><%= extractor.key %></td>
        <td><%= extractor.class.to_s.demodulize %></td>
        <td class="params-column"><%= render_hash extractor.config, "No Configuration" %></td>
        <td><%= extractor.minimum_workflow_version || "any" %></td>
        <td style="text-align: center;">
          <%= link_to [:edit, @workflow, extractor.becomes(Extractor)] do %>
            <i class="glyphicon glyphicon-cog text-warning"></i>
            <span class="sr-only">Edit</i>
          <% end %>
          <%= link_to [:edit, @workflow, extractor.becomes(Extractor)], method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="glyphicon glyphicon-trash text-danger"></i>
            <span class="sr-only">Delete</i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="btn-group pull-right">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="glyphicon glyphicon-plus"></i> Create <span class="caret"></span>
  </button>

  <ul class="dropdown-menu">
    <li><%= link_to "Blank", new_workflow_extractor_path(@workflow, type: 'blank') %></li>
    <li><%= link_to "External", new_workflow_extractor_path(@workflow, type: 'external') %></li>
    <li><%= link_to "Pluck field", new_workflow_extractor_path(@workflow, type: 'pluck_field') %></li>
    <li><%= link_to "Question", new_workflow_extractor_path(@workflow, type: 'question') %></li>
    <li><%= link_to "Survey", new_workflow_extractor_path(@workflow, type: 'survey') %></li>
    <li><%= link_to "Who", new_workflow_extractor_path(@workflow, type: 'who') %></li>
  </ul>
</div>
</div>
</div>
