<h2>Reducers</h2>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Create <span class="caret"></span>
  </button>

  <ul class="dropdown-menu">
    <li><%= link_to "Consensus", new_workflow_reducer_path(@workflow, type: 'consensus') %></li>
    <li><%= link_to "Count", new_workflow_reducer_path(@workflow, type: 'count') %></li>
    <li><%= link_to "Placeholder", new_workflow_reducer_path(@workflow, type: 'placeholder') %></li>
    <li><%= link_to "External", new_workflow_reducer_path(@workflow, type: 'external') %></li>
    <li><%= link_to "First Extract", new_workflow_reducer_path(@workflow, type: 'first_extract') %></li>
    <li><%= link_to "Stats", new_workflow_reducer_path(@workflow, type: 'stats') %></li>
    <li><%= link_to "Unique Count", new_workflow_reducer_path(@workflow, type: 'unique_count') %></li>
  </ul>
</div>

<table class="table table-hover table table-sm">
  <thead>
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Topic</th>
        <th>Type</th>
        <th>Configuration</th>
        <th>Filters</th>
        <th>Grouping</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for reducer in @workflow.reducers %>
        <tr>
          <td><%= reducer.key %></td>
          <td><%= reducer.topic %></td>
          <td><%= reducer.class %></td>
          <td><%= debug reducer.config %></td>
          <td><%= debug reducer.filters %></td>
          <td><%= debug reducer.grouping %></td>
          <td>
            <%= link_to "Edit", [:edit, @workflow, reducer.becomes(Reducer)], class: 'btn btn-primary' %>
            <%= link_to "Destroy", [@workflow, reducer.becomes(Reducer)], method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
