<div class="row">
<div class="col-md-12 clearfix">
<table class="table table-striped table-sm">
  <colgroup>
    <col style="width: 4em;" />
    <col style="width: 4em;" />
    <col style="width: 8em;" />
    <col style="width: 6em;" />
    <col style="width: 12em;" />
    <col />
    <col />
    <col />
    <col style="width: 4em;" />
  </colgroup>
  <thead>
    <tr>
      <th>Status</th>
      <th>Id</th>
      <th>Key</th>
      <th>Topic</th>
      <th>Type</th>
      <th>Configuration</th>
      <th>Filters</th>
      <th>Grouping</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for reducer in @workflow.reducers %>
      <tr>
        <td style="text-align: center; ">
          <% case reducer.stoplight_color when 'green' %>
            <span class="text-success glyphicon glyphicon-ok-sign">
              <span class="sr-only">OK</span>
            </span>
          <% when 'yellow' %>
            <span class="text-warning glyphicon glyphicon-exclamation-sign">
              <span class="sr-only">Warning</span>
            </span>
          <% when 'red' %>
            <span class="text-danger glyphicon glyphicon-remove-sign">
              <span class="sr-only">Error</span>
            </span>
          <% end %>
        </td>
        <td><%= reducer.id %></td>
        <td><%= reducer.key %></td>
        <td>
          <% case reducer.topic when 'reduce_by_subject' %>Subjects
          <% when 'reduce_by_user' %>Users
          <% end %>
        </td>
        <td><%= reducer.class.to_s.demodulize %></td>
        <td class="params-column"><%= render_hash reducer.config, 'No Configuration' %></td>
        <td class="params-column"><%= render_hash reducer.filters, 'No Filters' %></td>
        <td class="params-column"><%= render_hash reducer.grouping, 'No Grouping' %></td>
        <td>
          <%= link_to [:edit, @workflow, reducer.becomes(Reducer)] do %>
            <i class="glyphicon glyphicon-cog text-warning"></i>
            <span class="sr-only">Edit</i>
          <% end %>
          <%= link_to [@workflow, reducer.becomes(Reducer)], method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="glyphicon glyphicon-trash text-danger"></i>
            <span class="sr-only">Delete</i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pull-right">
  <%= simple_form_for @workflow, url: [@workflow] do |f| %>
    <%= f.hidden_field :rerun, :value => 'reducers' %>
    <%= f.button :button, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-repeat"></span> Rerun Reducers
    <% end %>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="glyphicon glyphicon-plus"></i> Create <span class="caret"></span>
      </button>

      <ul class="dropdown-menu dropdown-menu-right">
        <li><%= link_to "Consensus", new_workflow_reducer_path(@workflow, type: 'consensus') %></li>
        <li><%= link_to "Count", new_workflow_reducer_path(@workflow, type: 'count') %></li>
        <li><%= link_to "Placeholder", new_workflow_reducer_path(@workflow, type: 'placeholder') %></li>
        <li><%= link_to "External", new_workflow_reducer_path(@workflow, type: 'external') %></li>
        <li><%= link_to "First Extract", new_workflow_reducer_path(@workflow, type: 'first_extract') %></li>
        <li><%= link_to "Simple Stats", new_workflow_reducer_path(@workflow, type: 'stats') %></li>
        <li><%= link_to "Summary Stats", new_workflow_reducer_path(@workflow, type: 'summary_stats') %></li>
        <li><%= link_to "Unique Count", new_workflow_reducer_path(@workflow, type: 'unique_count') %></li>
        <li><%= link_to "SQS", new_workflow_reducer_path(@workflow, type: 'sqs') %></li>
        <li><%= link_to "Rectangle", new_workflow_reducer_path(@workflow, type: 'rectangle') %></li>
      </ul>
    </div>
  <% end %>
</div>
</div>
</div>
