<div class="row">
<div class="col-md-12">
<h2>Subject Rules</h2>
<table class="table table-striped table-sm">
  <colgroup>
    <col style="width: 4em;" />
    <col style="width: 2em;" />
    <col style="width: 1em;" />
    <col />
    <col style="width: 6em;" />
  </colgroup>
  <thead>
    <tr>
      <th>Status</th>
      <th style="text-align: center">Id</th>
      <th colspan="2">Rule</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for rule in @workflow.subject_rules %>
      <tr>
        <td style="text-align: center; line-height: 250%">
          <% case rule.stoplight_color when 'green' %>
            <span class="text-success glyphicon glyphicon-ok-sign">
              <span class="sr-only">OK</span>
            </span>
          <% when 'yellow' %>
            <span class="text-warning glyphicon glyphicon-exclamation-sign">
              <span class="sr-only">Warning</span>
            </span>
          <% when 'red' %>
            <span class="text-danger glyphicon glyphicon-remove-sign">
              <span class="sr-only">Error</span>
            </span>
          <% end %>
        </td>
        <td style="text-align: right; line-height: 250%">
          SR<%= rule.id %>
        </td>
        <td style="line-height: 250%"><span class="yields-text pull-right"><strong>If</strong></span></td>
        <td style="line-height: 250%;">
          <%= render_condition rule.condition %>
          <span class="yields-text"><strong>then</strong></span>
          <% rule.subject_rule_effects.each_with_index do |rule_effect, i| %>
            <% if i > 0 %> and <% end %>
            <%= render partial: 'effect', locals: {effect: rule_effect.effect} %>
          <% end %>
        </td>
        <td style="line-height: 250%">
          <%= link_to [:edit, @workflow, rule] do %>
            <i class="glyphicon glyphicon-cog text-warning"></i>
            <span class="sr-only">Edit</i>
          <% end %>
          <%= link_to [@workflow, rule], method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="glyphicon glyphicon-trash text-danger"></i>
            <span class="sr-only">Delete</i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pull-right">
  <%= button_to "Create", new_workflow_subject_rule_path(@workflow), :class => "btn btn-primary", :method => :get %>
</div>
</div>
</div>

<div class="row"> <div class="col-md-12"> </div> </div>

<div class="row">
<div class="col-md-12">
<h2>User Rules</h2>
<table class="table table-striped table-sm">
  <colgroup>
    <col style="width: 4em;" />
    <col style="width: 2em;" />
    <col style="width: 1em;" />
    <col />
    <col style="width: 6em;" />
  </colgroup>
  <thead>
    <tr>
      <th>Status</th>
      <th style="text-align: center;">Id</th>
      <th colspan="2">Rule</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for rule in @workflow.user_rules %>
      <tr>
        <td style="text-align: center; line-height: 250%;">
          <% case rule.stoplight_color when 'green' %>
            <span class="text-success glyphicon glyphicon-ok-sign">
              <span class="sr-only">OK</span>
            </span>
          <% when 'yellow' %>
            <span class="text-warning glyphicon glyphicon-exclamation-sign">
              <span class="sr-only">Warning</span>
            </span>
          <% when 'red' %>
            <span class="text-danger glyphicon glyphicon-remove-sign">
              <span class="sr-only">Error</span>
            </span>
          <% end %>
        </td>
        <td style="text-align: right; line-height: 250%;">
          UR<%= rule.id %>
        </td>
        <td style="line-height: 250%"><span class="yields-text pull-right"><strong>If</strong></span></td>
        <td style="line-height: 250%;">
          <%= render_condition rule.condition %>
          <span class="yields-text"><strong>then</strong></span>
          <% rule.user_rule_effects.each_with_index do |rule_effect, i| %>
            <% if i > 0 %> and <% end %>
            <%= render partial: 'effect', locals: {effect: rule_effect.effect} %>
          <% end %>
        </td>
        <td style="line-height: 250%">
          <%= link_to [:edit, @workflow, rule] do %>
            <i class="glyphicon glyphicon-cog text-warning"></i>
            <span class="sr-only">Edit</i>
          <% end %>
          <%= link_to [@workflow, rule], method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="glyphicon glyphicon-trash text-danger"></i>
            <span class="sr-only">Delete</i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pull-right">
  <%= button_to "Create", new_workflow_user_rule_path(@workflow), :class => "btn btn-primary", :method => :get %>
</div>
</div>
</div>
