<h2>Subject Rules</h2>
<!-- <button type="button" name="button">Add New</button> -->
<%= button_to "Create", new_workflow_subject_rule_path(@workflow), :class => "btn btn-default", :method => :get %>
<table class="table table-hover table table-sm">
    <thead class="thead-inverse">
      <tr>
        <th>If</th>
        <th>Then</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for rule in @workflow.subject_rules %>
        <tr>
          <td><%= render_condition rule.condition %></td>
          <td>
            <ul>
              <% rule.subject_rule_effects.each do |rule_effect| %>
                <li><%= render partial: 'effect', locals: {effect: rule_effect.effect} %></li>
              <% end %>
            </ul>
          </td>
          <td>
            <%= link_to "Edit", [:edit, @workflow, rule], class: 'btn btn-primary' %>
            <%= link_to "Destroy", [@workflow, rule], method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>

<h2>User Rules</h2>
<!-- <button type="button" name="button">Add New</button> -->
<%= button_to "Create", new_workflow_user_rule_path(@workflow), :class => "btn btn-default", :method => :get %>
<table class="table table-hover table table-sm">
  <thead>
    <thead class="thead-inverse">
      <tr>
        <th>If</th>
        <th>Then</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for rule in @workflow.user_rules %>
        <tr>
          <td><%= render_condition rule.condition %></td>
          <td>
            <ul>
              <% rule.user_rule_effects.each do |rule_effect| %>
                <li><%= render partial: 'effect', locals: {effect: rule_effect.effect} %></li>
              <% end %>
            </ul>
          </td>
          <td>
            <%= link_to "Edit", [:edit, @workflow, rule], class: 'btn btn-primary' %>
            <%= link_to "Destroy", [@workflow, rule], method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
