<%= simple_form_for(@workflow, url: [@workflow]) do |f| %>
  <%= f.error_notification %>
  <div class="form-inline form-inputs">
    <div class="form-group">
      <%= f.check_box :public_extracts, class: 'form-control' %>
      <label for="workflow_public_extracts" style="vertical-align: sub; margin-left: 0.5em;">Public Extracts</label>
    </div>
    <br/>
    <div class="form-group">
      <%= f.check_box :public_reductions, class: 'form-control' %>
      <label for="workflow_public_reductions" style="vertical-align: sub; margin-left: 0.5em;">Public Reductions</label>
    </div>
  </div>
  <br/>
  <div class="form-inputs">
    <strong><label for="workflow_rules_applied">Rules Applied</label></strong>
    <%= f.select :rules_applied, @workflow.class.rules_applieds.map{|key, val| [key.humanize, key]}, {}, { class: 'form-control' } %>
  </div>
  <br/>
  <div class="form-actions">
    <%= f.button :button, class: 'btn btn-primary pull-right' do %>
        <span class="glyphicon glyphicon-floppy-disk"></span> Save Settings
    <% end %>
  </div>
<% end %>

<% unless @workflow.halted? %>
  <p class="pull-right">&nbsp;</p>
  <%= simple_form_for(@workflow, url: [@workflow]) do |f| %>
    <%= f.hidden_field :status, :value => 'halted' %>
    <%= f.button :button, class: 'btn btn-default pull-right',
    title: @halt_confirmation,
    data: { confirm: @halt_confirmation } do %>
      <span class="glyphicon glyphicon-stop"></span> Halt Workflow
    <% end %>
  <% end %>
<% end %>

<% unless @workflow.paused? %>
  <p class="pull-right">&nbsp;</p>
  <%= simple_form_for(@workflow, url: [@workflow]) do |f| %>
    <%= f.hidden_field :status, :value => 'paused' %>
    <%= f.button :button, class: 'btn btn-default pull-right',
        title: @paused_confirmation,
        data: { confirm: @paused_confirmation} do %>
      <span class="glyphicon glyphicon-pause"></span> Pause Workflow
    <% end %>
  <% end %>
<% end %>

<% unless @workflow.active? %>
  <p class="pull-right">&nbsp;</p>
  <%= simple_form_for(@workflow, url: [@workflow]) do |f| %>
    <%= f.hidden_field :status, :value => 'active' %>
    <%= f.button :button, class: 'btn btn-default pull-right' do %>
      <span class="glyphicon glyphicon-play"></span> Resume Workflow
    <% end %>
  <% end %>
<% end %>