<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>Workflow Id</dt>
      <dd><%= @workflow.id %>
      <dt>Workflow Name</dt>
      <dd><%= @workflow.name %>
      <dt>Status</dt>
      <dd><%= if @workflow.paused? then "Paused" else "Active" end %>
      <br/><br/>
      <dt>Project Id</dt>
      <dd><%= @workflow.project_id %>
      <dt>Project Name</dt>
      <dd><%= @workflow.project_name %>
      <br/><br/>
      <dt>Extractors</dt>
      <dd>
        <% if @workflow.extractors.count == 0 %>None<% end %>
        <% @workflow.extractors.pluck(:key).each do |key| %>
          <span class="label label-success"><%= key %></span>
        <% end %>
      </dd>
      <dt>Reducers</dt>
      <dd>
        <% if @workflow.reducers.count == 0 %>None<% end %>
        <% @workflow.reducers.pluck(:key).each do |key| %>
          <span class="label label-success"><%= key %></span>
        <% end %>
      </dd>
      <dt>Rules</dt>
      <dd>
        <% if @workflow.subject_rules.count == 0 && @workflow.user_rules.count == 0 %>
          None
        <% else %>
          <%= @workflow.subject_rules.count %> for subjects, <%= @workflow.user_rules.count %> for users
        <% end %>
      </dd>
      <br/>
      <dt>Created</dt>
      <dd><%= @workflow.created_at %>
      <dt>Updated</dt>
      <dd><%= @workflow.updated_at %>
    </dl>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <dl class="dl-horizontal">
          <dt>Total Extracts</dt>
          <dd><%= @summary.extracts_count %></dd>
          <dt>Total Reductions</dt>
          <dd><%= @summary.reductions_count %></dd>
          <dt>Total Actions</dt>
          <dd><%= @summary.actions_count %></dd>
          <br/><br/>
          <dt>Public Extracts</dt>
          <dd><%= if @workflow.public_extracts? then "Yes" else "No" end %>
          <dt>Public Reductions</dt>
          <dd><%= if @workflow.public_reductions? then "Yes" else "No" end %>
          <br/><br/>
          <dt>Rule Application</dt>
          <dd><%= @workflow.rules_applied.humanize %></dd>
        </dl>
      </div>
      <div class="col-md-6">
        <dl class="dl-horizontal">
          <dt>Last Extract</dt>
          <dd><%= @summary.last_extract || "Never" %></dd>
          <dt>Last Reduction</dt>
          <dd><%= @summary.last_reduction || "Never" %></dd>
          <dt>Last Action</dt>
          <dd><%= @summary.last_action || "Never" %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
