<div class="row">
<div class="col-md-12">
<h2>Workflows</h2>
<table class="table table-striped table-sm">
  <colgroup>
    <col style="width: 8em"/>
    <col/>
    <col style="width: 8em"/>
    <col/>
    <col style="width: 8em"/>
    <col style="width: 8em"/>
    <col style="width: 8em"/>
    <col style="width: 16em"/>
  </colgroup>
  <thead>
    <tr>
      <th>Workflow ID</th>
      <th>Workflow Name</th>
      <th>Project ID</th>
      <th>Project Name</th>
      <th>Extractors</th>
      <th>Reducers</th>
      <th>Rules</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <% @workflows.each do |workflow| %>
      <tr>
        <td><%= link_to workflow.id, workflow_path([workflow]) %></td>
        <td><%= link_to workflow.name || "[Name unknown]", workflow_path([workflow]) %></td>
        <td><%= workflow.project_id %></td>
        <td><%= workflow.project_name || "[Name unknown]" %></td>
        <td><%= workflow.extractors.count %></td>
        <td><%= workflow.reducers.count %></td>
        <td><%= workflow.subject_rules.count + workflow.user_rules.count %></td>
        <td><%= workflow.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="btn-group pull-right">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    <i class="glyphicon glyphicon-plus"></i> Add</span>
  </button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for @workflow, url: workflows_path, html: { class: 'form-vertical' } do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Workflow</h4>
      </div>
      <div class="modal-body">
        <%= f.input :id, label: 'Workflow Id' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'Add Workflow', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

</div>
</div>
