<div class="row">
<div class="col-md-12">
<h2 style="margin-bottom: 1em;"><%= @workflow.name || "[Unknown Name] "%></h2>
<ul class="nav nav-pills">
    <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
    <li><a href="#extractors" data-toggle="tab">Extractors <span class="badge"><%= @workflow.extractors.count %></span></a></li>
    <li><a href="#reducer" data-toggle="tab">Reducers <span class="badge"><%= @workflow.reducers.count %></span></a></li>
    <li><a href="#rules" data-toggle="tab">Rules <span class="badge"><%= @workflow.subject_rules.count + @workflow.user_rules.count %></span></a></li>
    <li><a href="#requests" data-toggle="tab">Data Requests <span class="badge"><%= @workflow.data_requests.count %></span></a></li>
</ul>
<div class="container-fluid">
  <div class="row"><div class="col-md-12">&nbsp;</div></div>
    <div class="tab-content" id="TabContent">
      <div class="tab-pane fade in active" id="summary">
        <%= render partial: 'summary' %>
      </div>
      <div class="tab-pane fade" id="extractors">
        <%= render partial: 'extractors' %>
      </div>
      <div class="tab-pane fade" id="reducer">
        <%= render partial: 'reducers' %>
      </div>
      <div class="tab-pane fade" id="rules">
        <%= render partial: 'rules' %>
      </div>
      <div class="tab-pane fade" id="requests">
        <%= render partial: 'requests' %>
      </div>
    </div>
  </div>
</div>
</div>