<h2>Extractors</h2>
<!-- <button type="button" name="button">Add New</button> -->
<table class="table table-hover table table-sm">
  <thead>
     <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Configuration</th>
      <th>Minimum workflow version</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for extractor in @workflow.extractors %>
      <tr>
        <td><%= extractor.key %></td>
        <td><%= extractor.class %></td>
        <td><%= debug extractor.config %></td>
        <td><%= extractor.minimum_workflow_version || "any" %></td>
        <td><!-- <button type="button" name="button">Edit</button> <button type="button" name="button">Delete</button> --></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Reducers</h2>
<table class="table table-hover table table-sm">
  <thead>
     <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Configuration</th>
      <th>Filters</th>
      <th>Grouping</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for reducer in @workflow.reducers %>
      <tr>
        <td><%= reducer.key %></td>
        <td><%= reducer.class %></td>
        <td><%= debug reducer.config %></td>
        <td><%= debug reducer.filters %></td>
        <td><%= reducer.grouping || "no grouping" %></td>
        <td><!--<button type="button" name="button">Edit</button> <button type="button" name="button">Delete</button> --></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Rules</h2>
<!-- <button type="button" name="button">Add New</button> -->
<table class="table table-hover table table-sm">
  <thead>
     <thead class="thead-inverse">
    <tr>
      <th>If</th>
      <th>Then</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for rule in @workflow.rules %>
      <tr>
        <td><%= render_condition rule.condition %></td>
        <td>
          <ul>
            <% rule.rule_effects.each do |rule_effect| %>
              <li><%= render partial: 'effect', locals: {effect: rule_effect.effect} %></li>
            <% end %>
          </ul>
        </td>
        <td><!-- <button type="button" name="button">Edit</button>
                 <button type="button" name="button">Delete</button> --></td>
      </tr>
    <% end %>
  </tbody>
</table>
