<h2>Extractors</h2>

<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Create <span class="caret"></span>
  </button>

  <ul class="dropdown-menu">
    <li><%= link_to "Blank", new_workflow_extractor_path(@workflow, type: 'blank') %></li>
    <li><%= link_to "External", new_workflow_extractor_path(@workflow, type: 'external') %></li>
    <li><%= link_to "Pluck field", new_workflow_extractor_path(@workflow, type: 'pluck_field') %></li>
    <li><%= link_to "Question", new_workflow_extractor_path(@workflow, type: 'question') %></li>
    <li><%= link_to "Survey", new_workflow_extractor_path(@workflow, type: 'survey') %></li>
    <li><%= link_to "Who", new_workflow_extractor_path(@workflow, type: 'who') %></li>
  </ul>
</div>


<!-- <button type="button" name="button">Add New</button> -->
<table class="table table-hover table table-sm">
  <thead>
     <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Configuration</th>
      <th>Minimum workflow version</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for extractor in @workflow.extractors %>
      <tr>
        <td><%= extractor.key %></td>
        <td><%= extractor.class %></td>
        <td><%= debug extractor.config %></td>
        <td><%= extractor.minimum_workflow_version || "any" %></td>
        <td>
          <%= link_to "Edit", [:edit, @workflow, extractor.becomes(Extractor)], class: 'btn btn-primary' %>
          <%= link_to "Destroy", [@workflow, extractor.becomes(Extractor)], method: :delete, confirm: "Are you sure?", class: 'btn btn-danger' %>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Reducers</h2>
<table class="table table-hover table table-sm">
  <thead>
     <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Configuration</th>
      <th>Filters</th>
      <th>Grouping</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for reducer in @workflow.reducers %>
      <tr>
        <td><%= reducer.key %></td>
        <td><%= reducer.class %></td>
        <td><%= debug reducer.config %></td>
        <td><%= debug reducer.filters %></td>
        <td><%= reducer.grouping || "no grouping" %></td>
        <td><!--<button type="button" name="button">Edit</button> <button type="button" name="button">Delete</button> --></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Rules</h2>
<!-- <button type="button" name="button">Add New</button> -->
<table class="table table-hover table table-sm">
  <thead>
     <thead class="thead-inverse">
    <tr>
      <th>If</th>
      <th>Then</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for rule in @workflow.rules %>
      <tr>
        <td><%= render_condition rule.condition %></td>
        <td>
          <ul>
            <% rule.rule_effects.each do |rule_effect| %>
              <li><%= render partial: 'effect', locals: {effect: rule_effect.effect} %></li>
            <% end %>
          </ul>
        </td>
        <td><!-- <button type="button" name="button">Edit</button>
                 <button type="button" name="button">Delete</button> --></td>
      </tr>
    <% end %>
  </tbody>
</table>
