<%= simple_form_for(@project, url: [@project]) do |f| %>
  <%= f.error_notification %>
  <div class="form-inline form-inputs">
    <div class="form-group">
      <%= f.check_box :public_reductions, class: 'form-control' %>
      <label for="project_public_reductions" style="vertical-align: sub; margin-left: 0.5em;">Public Reductions</label>
    </div>
  </div>
  <br/>
  <div class="form-actions">
    <%= f.button :button, class: 'btn btn-primary pull-right' do %>
        <span class="glyphicon glyphicon-floppy-disk"></span> Save Settings
    <% end %>
  </div>
<% end %>

<% unless @project.halted? %>
  <p class="pull-right">&nbsp;</p>
  <%= simple_form_for(@project, url: [@project]) do |f| %>
    <%= f.hidden_field :status, :value => 'halted' %>
    <%= f.button :button, class: 'btn btn-default pull-right' do %>
      <span class="glyphicon glyphicon-stop"></span> Halt Project
    <% end %>
  <% end %>
<% end %>

<% unless @project.active? %>
  <p class="pull-right">&nbsp;</p>
  <%= simple_form_for(@project, url: [@project]) do |f| %>
    <%= f.hidden_field :status, :value => 'active' %>
    <%= f.button :button, class: 'btn btn-default pull-right' do %>
      <span class="glyphicon glyphicon-play"></span> Resume Project
    <% end %>
  <% end %>
<% end %>