<% case effect %>
<% when Effects::AddSubjectToCollection %>
  Add subject to collection <span class="label label-info"><%= effect.collection_id %></span>
<% when Effects::AddSubjectToSet %>
  Add subject to subject_set <span class="label label-info"><%= effect.subject_set_id %></span>
<% when Effects::RetireSubject %>
  Retire subject with reason <span class="label label-info"><%= effect.reason %></span>
<% when Effects::PromoteUser %>
  Promote user to workflow <span class="label label-info"><%= effect.target_workflow_id %></span>
<% when Effects::External %>
  Send <span class="label label-info"><%= effect.reducer_key %></span> to URL <span class="label label-info"><%= effect.url %></span>
<% else %>
  <%= debug effect %>
<% end %>
