<%= simple_form_for @reducer, as: :reducer, url: [@workflow, @reducer.becomes(Reducer)], html: { class: 'form-vertical' } do |f| %>
  <%= f.hidden_field :type, value: params.dig(:reducer, :type) || params[:type] %>

  <%= f.input :key %>

  <% @reducer.class.configuration_fields.each do |key, options| %>
    <% if options.key?(:enum) %>
      <%= f.input key, collection: options[:enum] %>
    <% else %>
      <%= f.input key %>
    <% end %>
  <% end %>

  <%= f.input :topic, collection: Reducer.topics.keys %>

  <div class="panel panel-info">
    <div class="panel-heading"><a role="button" data-toggle="collapse" href="#groupingInputs" aria-expanded="false" aria-controls="groupingInputs">Grouping <span class="caret"></span></a></div>
    <div class="panel-body collapse" id="groupingInputs">
      <p>You can group extracts before reduction, producing one reduction per group</p>
      <%= f.simple_fields_for :grouping do |grouping| %>
        <%= grouping.input :field_name %>
        <%= grouping.input :if_missing, collection: ['ignore', 'error'] %>
      <% end %>
    </div>
  </div>


  <div class="panel panel-info">
    <div class="panel-heading"><a role="button" data-toggle="collapse" href="#filterInputs" aria-expanded="false" aria-controls="filterInputs">Filters <span class="caret"></span></a></div>
    <div class="panel-body collapse" id="filterInputs">
      <p>Using filters it is possible to limit which extracts this reducer works on.</p>
      <%= f.simple_fields_for :filters do |filters| %>
        <%= filters.input :from %>
        <%= filters.input :to %>
        <%= filters.input :extractor_keys %>
        <%= filters.input :repeated_classifications, collection: ExtractFilter::REPEATED_CLASSIFICATIONS %>
      <% end %>
    </div>
  </div>


  <%= f.submit class: 'btn btn-primary' %>
  <%= link_to 'Back', workflow_path(@workflow), class: 'btn btn-default' %>
<% end %>
