<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag("zooniverse-logo-white.png", style: "width: 1em; height: 1em; display: inline; vertical-align: top;") %> Caesar</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if credential.logged_in? %><li><%= link_to 'Workflows', workflows_path %></li><% end %>
          <% if credential.logged_in? %><li><%= link_to 'Projects', projects_path %></li><% end %>
          <% if credential.admin? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrator <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Sidekiq", '/sidekiq', class: 'dropdown-item' %></li>
              <li><%= link_to "Graphiql", '/graphiql', class: 'dropdown-item' %></li>
            </ul>
          </li>
          <% end %>
          <li><a href="https://zooniverse.org">Back to Zooniverse</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if credential.logged_in? %>
            <p class="navbar-text"><strong>Logged in as</strong> <%= credential.login %></p>
            <li><%= link_to 'Log Out', session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Log In', '/auth/zooniverse' %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
