<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Caesar" %></title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: 'header' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <% if flash[:alert] %>
            <div class="alert alert-warning"><%= flash[:alert] %></div>
          <% end %>
          <% if flash[:notice] %>
            <div class="alert alert-success"><%= flash[:notice] %></div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
