<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Caesar" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <h1>Caesar</h1>

      <nav>
        <ul>
          <% if current_user.admin? %>
          <li><%= link_to "Sidekiq", '/sidekiq' %></li>
          <% end %>
        </ul>

        <ul class="menu">
          <% if current_user.logged_in? %>
            <li class="menu-text">Logged in as <%= current_user.login %></li>
            <li><%= button_to 'Log out', session_path, method: :delete, class: 'button' %></li>
          <% else %>
            <li><%= link_to 'Log in', new_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
